.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: var(--text-font-size);
  font-variation-settings: "wght" var(--text-font-weight);
  color: var(--text-color);
  background-attachment: fixed;
  background-color: var(--main-color);
  background-image: 
    repeating-linear-gradient(
      var(--gradient-cross-color) 0%, 
      var(--gradient-cross-color) 2px, 
      transparent 2px,
      transparent 4px),
    repeating-linear-gradient( to right,
      var(--gradient-cross-color) 0%, 
      var(--gradient-cross-color) 2px, 
      transparent 2px,
      transparent 4px),
    linear-gradient(var(--background-color-top) 0%, var(--background-color-bottom) 100%);
  background-size: cover;
}

.header {
  margin: var(--page-margin) auto;
  padding: var(--header-padding-size) 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--header-gap);
  justify-content: center;
  align-items: center;
}

.card-style {
  inline-size: var(--section-inline-size);
  max-inline-size: var(--card-max-size);
  border: var(--border-style);
  background-color: var(--card-background-color);
}

.decorate-text {
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--title-font-size);
}

.header__caption {
  font-size: var(--caption-font-size);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-bottom: var(--page-margin);
  justify-content: center;
  align-items: center;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  justify-content: center;
  align-items: center;
}

.card__title {
  font-size: inherit;
  font-variation-settings: "wght" var(--title-font-weight);
  margin: var(--card-title-margin-block) var(--card-title-margin-inline);
}

.card__labled-image {
  position: relative;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

.card-image {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.filter-saturate-2 {
  filter: saturate(2);
}

.filter-sepia-0-5 {
  filter: sepia(0.5);
}

.filter-brightness-1-5 {
  filter: brightness(1.5);
}

.filter-hue-rotate-0-7 {
  filter: hue-rotate(0.7turn);
}

.filter-grayscale-70 {
  filter: grayscale(0.7);
}

.filter-contrast-170 {
  filter: contrast(170%);
}

.filter-blur {
  filter: blur(2px);
}

.monster-filter {
  filter: saturate(2) invert(1) hue-rotate(0.2turn) sepia(0.5);
}

.image-lable {
  font-family: var(--accent-font);
  position: absolute;
  top: var(--lable-top);
  right: var(--lable-right);
  text-shadow: 
  var(--lable-stroke-width) 0 0 var(--lable-stroke-color), 
  calc(-1 * var(--lable-stroke-width)) 0 0 var(--lable-stroke-color),
  0 var(--lable-stroke-width) 0 var(--lable-stroke-color), 
  0 calc(-1 * var(--lable-stroke-width)) 0 var(--lable-stroke-color);
  mix-blend-mode: hard-light;
  display: block;
}

@supports (-webkit-text-stroke: var(--lable-stroke-width) var(--lable-stroke-color)) {
  .image-lable {
    text-shadow: none;
    -webkit-text-stroke: var(--lable-stroke-width) var(--lable-stroke-color);
  }
}

@supports (text-stroke: var(--lable-stroke-width) var(--lable-stroke-color)) {
  .image-lable {
    text-shadow: none;
    text-stroke: var(--lable-stroke-width) var(--lable-stroke-color);
  }
}

.card__caption {
  padding: var(--card-caption-padding);
  display: flex;
  flex-direction: column;
  gap: var(--card-caption-gap);
  justify-content: start;
}

.card__caption-text {
  display: flex;
  flex-direction: column;
  gap: var(--card-text-gap);
  line-height: var(--caption-text-line-height);
}

.card__caption-buttons {
  display: flex;
  justify-content: end;
  gap: var(--caption-buttons-gap);
}

.button {
  font-family: var(--accent-font);
  background-color: var(--card-background-color);
  border: var(--border-style);
  color: var(--button-text-color);
  padding-top: var(--text-button-padding);
  padding-bottom: var(--text-button-padding);
  font-size: var(--button-text-size);
  cursor: pointer;
  transition: var(--button-focus-transition);
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: var(--button-box-shadow);
  transition: var(--button-focus-transition);
}

.button::before {
  content: '';
  transform: scaleX(0);
  transform-origin: 0 100%;
  background-color: var(--accent-color);
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
  transition: var(--button-hover-transition);
}

.card__icon-button {
  border: var(--border-transparent-style);
  background: none;
  cursor: pointer;
  transition: var(--icon-button-focus-transition);
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--border-style);
  transition: var(--icon-button-focus-transition);
}

.like-icon {
  inline-size: var(--like-icon-inline-size);
  block-size: var(--like-icon-block-size);
  display: block;
}

.core {
  fill: transparent;
  transition: var(--like-icon-fill-transition) 0.03s;
}

.main-body {
  fill: transparent;
  transition: var(--like-icon-fill-transition);
}

.contour {
  fill: var(--unliked-heart-color);
  transition: var(--like-icon-fill-transition);
}

.heart {
  transform-origin: center;
}

.sparks {
  fill: var(--liked-heart-color);
  opacity: 0;
}

@media (hover: hover) {

  .button:hover::before {
    transform: scaleX(1);
    transition: var(--button-hover-transition);
  }

  .card__icon-button:hover .core {
    fill: var(--unliked-heart-color);
    transition: var(--like-icon-fill-transition);
  }
  
  .card__icon-button:hover .main-body {
    fill: var(--unliked-heart-color);
    transition: var(--like-icon-fill-transition) 0.05s;
  }

}

.card__icon-button:active .core {
  fill: var(--liked-heart-color);
  transition: var(--like-icon-fill-transition);
}

.card__icon-button:active .main-body {
  fill: var(--liked-heart-color);
  transition: var(--like-icon-fill-transition) 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--liked-heart-color);
  transition: var(--like-icon-fill-transition);
}

.like-icon.is-liked .main-body {
  fill: var(--liked-heart-color);
  transition: var(--like-icon-fill-transition) 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--liked-heart-color);
  transition: var(--like-icon-fill-transition) 0.06s;
}

.card__like-button {
  min-inline-size: var(--like-button-min-size);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--save-button-gap);
  padding: var(--save-button-pudding-block) var(--save-button-pudding-inline);
}

.floppy-icon {
  block-size: var(--floppy-size);
  inline-size: var(--floppy-size);
  flex-shrink: 0;
  mix-blend-mode: difference;
}

.save-dialog {
  inline-size: var(--section-inline-size);
  max-inline-size: var(--dialog-max-size);
  border: var(--border-style);
  background-color: var(--card-background-color);
  padding: var(--save-dialog-padding);
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: var(--save-dialog-padding);
}

.save-dialog::backdrop {
  background-color: var(--backdrop-color);
}

.save-dialog__content {
  display: flex;
  gap: var(--save-dialog-gap);
  justify-content: start;
  align-items: center;
}

.floppy-icon-dialog {
  inline-size: var(--floppy-dialog-size);
  block-size: var(--floppy-dialog-size);
  flex-shrink: 0;
}

.save-dialog__text {
  font-size: var(--save-dialod-text-size);
  display: block;
  line-height: var(--save-dialog-line-height);
}

@media (width <= 375px) {
  .card-style {
    inline-size: 100%;
  }

  .save-button {
    flex-direction: column;
  }
}